<!DOCTYPE HTML>
<html lang="${#locale}" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/base}">

<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title th:text="${chat} + ' Form'">Group Chat Form</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>

<body>

<form action="#" class="container" th:action="@{/chat/new}" th:object="${chat}" layout:fragment="content" method="post">

  <h1 th:text="#{chat.group.form.title}">Group Chat Form Title</h1>

  <div id="errors" th:if="${#fields.hasAnyErrors()}">
    <p class="text-danger" th:text="error" th:each="error : ${#fields.errors()}">Field Error</p>
  </div>

  <div th:each="visibility : ${T(de.othr.bib48218.chat.entity.GroupVisibility).values()}">
    <div class="form-check">
      <input type="radio" th:field="*{visibility}" th:value="${visibility}" class="form-check-input">
      <label class="custom-control-label" th:for="${#ids.prev('visibility')}" th:text="${visibility}">model</label>
    </div>
  </div>

  <button class="btn btn-primary align-self-center" type="submit" th:text="#{chat.group.form.submit}" value="submit">
    Create
  </button>

</form>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous">
</script>

</body>

</html>
