<!DOCTYPE HTML>
<html lang="${#locale}" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/base}">

<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title th:text="${chat}">Chat</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>

<body>

<div class="container" th:object="${chat}" layout:fragment="content">

  <h1 th:text="${chat}">Chat Title</h1>

  <div>
    <span th:text="#{chat.add_user.title}">Add Member</span>
  </div>

  <div th:each="message : *{messages}" th:unless="${#lists.isEmpty(chat.messages)}">
    <div th:object="${message}">
      <span th:text="*{timestamp}">2020-10-10T23:54:39</span>
      <span th:include="~{fragment/user :: name (*{author})}">Author</span>
      <span th:text="*{text}">Message</span>
    </div>
  </div>

  <form action="#" class="d-flex my-3" th:action="@{/message/new}" method="post">
    <textarea class="form-control me-2" name="message" placeholder="Write a message" th:placeholder="#{message.new}"
              autofocus></textarea>
    <input type="hidden" name="chat" th:value="*{id}">
    <button class="btn btn-primary align-self-center" type="submit" th:text="#{message.submit}" value="submit">Send
    </button>
  </form>

</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous">
</script>

</body>

</html>
