<!DOCTYPE html>
<html lang="en" th:lang="${#locale}" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Chat based on SpringBoot">
  <meta name="author" content="Benno Bielmeier">

  <title layout:title-pattern="$CONTENT_TITLE">Base Layout</title>

  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <!--/*/
  <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
  /*/-->
  <!--/*-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <!--*/-->
  <link href="../../static/css/sidebar.css" rel="stylesheet" th:href="@{/css/sidebar.css}">
  <style>
    body {
      min-height: 75rem;
      padding-top: 4.5rem;
    }
  </style>
</head>

<body>

<header th:replace="fragment/header :: header"></header>

<div id="wrapper">
  <main layout:fragment="content">
    <h1>Dummy Page</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Praesent scelerisque neque neque, ac elementum quam dignissim interdum.
      Phasellus et placerat elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Praesent scelerisque neque neque, ac elementum quam dignissim interdum.
      Phasellus et placerat elit.
    </p>
  </main>
</div>


<footer th:replace="fragment/footer :: footer">© 2020 Benno Bielmeier</footer>

<!--/*/
<sript th:href="@{/webjars/bootstrap/js/bootstrap.min.js}"></sript>
/*/-->
<!--/*-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous">
</script>
<!--*/-->
<script src="../../static/js/custom.js" th:src="@{/js/custom.js}"></script>

</body>

</html>
