<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Sidebar</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <link href="../../static/css/sidebar.css" rel="stylesheet">
</head>

<body>

<aside id="sidebar-wrapper" class="border-end">
  <nav aria-label="Chat navigation">
    <div class="sidebar-heading" th:text="#{entity.chat.other}">Chats</div>
    <div class="btn-group">
      <a class="btn btn-primary" href="#" th:href="@{/chat/new}" th:text="#{sidebar.create_group_chat}">Create Group Chat</a>
        <a class="btn btn-primary" href="#" th:href="@{/chat/public}" th:text="#{sidebar.join_public_group_chat}">Join public Group Chat</a>
    </div>
    <ul class="list-group" th:each="chat : ${chats}">
      <li class="list-group-item"><a href="#" th:href="@{/chat/{chat_id}(chat_id=${chat.id})}" th:text="${chat}">Example Chat</a></li>
    </ul>
  </nav>
</aside>

</body>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous">
</script>

</html>
