<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Footer Fragment</title>
  <!--*/-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
        crossorigin="anonymous">
  <!--*/-->
</head>

<body>

<div th:fragment="form_fields(user)">

  <div class="row justify-content-center" th:object="${user}">
    <div class="col-6">
      <div>
        <label class="form-label mark-required" th:for="username"
               th:text="#{attribute.person.username}">Username</label>
        <input class="form-control" th:errorclass="is-invalid" th:field="*{username}" type="text" required
               th:disabled="${!#strings.isEmpty(user.username)}" disabled/>
        <span class="invalid-feedback" th:errors="*{username}"
              th:if="${#fields.hasErrors('username')}">Username Error</span>
      </div>
      <div>
        <label class="form-label mark-required" th:for="password"
               th:text="#{attribute.person.password}">Password</label>
        <input class="form-control" th:errorclass="is-invalid" th:field="*{password}" type="password" required/>
        <span class="invalid-feedback" th:errors="*{password}"
              th:if="${#fields.hasErrors('password')}">Password Error</span>
      </div>
      <th:block th:if="${user instanceof T(de.othr.bib48218.chat.entity.Person)}">
        <div>
          <label class="form-label" th:for="firstName" th:text="#{attribute.person.first_name}">First Name</label>
          <input class="form-control" th:errorclass="is-invalid" th:field="*{firstName}" type="text"/>
          <span class="invalid-feedback" th:errors="*{firstName}"
                th:if="${#fields.hasErrors('firstName')}">First Name Error</span>
        </div>
        <div>
          <label class="form-label" th:for="lastName" th:text="#{attribute.person.last_name}">Last Name</label>
          <input class="form-control" th:errorclass="is-invalid" th:field="*{lastName}" type="text"/>
          <span class="invalid-feedback" th:errors="*{lastName}"
                th:if="${#fields.hasErrors('lastName')}">Last Name Error</span>
        </div>
        <div>
          <label class="form-label" th:for="email" th:text="#{attribute.person.email}">Email</label>
          <input class="form-control" th:errorclass="is-invalid" th:field="*{email}" type="email"/>
          <span class="invalid-feedback" th:errors="*{email}" th:if="${#fields.hasErrors('email')}">Email Error</span>
        </div>
      </th:block>

      <div>
        <label class="form-label" th:for="profile.country" th:text="#{attribute.user_profile.country}">Country</label>
        <input class="form-control" th:field="*{profile.country}" type="text"/>
      </div>
      <div>
        <label class="form-label" th:for="profile.bio" th:text="#{attribute.user_profile.bio}">Biography</label>
        <input class="form-control" th:field="*{profile.bio}" type="text"/>
      </div>
    </div>
  </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous">
</script>

</body>

</html>
