<!DOCTYPE html>
<html lang="${#locale}" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/base}">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Home</title>
  <style>
    main > .container {
      padding: 60px 15px 0;
    }

  </style>
</head>

<body>

<main class="flex-shrink-0" layout:fragment="content">
  <div class="container">
    <h1 class="mt-5">Chat</h1>
    <p class="lead"></p>
    <ul th:each="chat : ${chats}">
      <li><a th:href="@{chat/{chatId}(chatId=${chat.id})}" th:text="${chat}"></a></li>
    </ul>
  </div>
</main>

</body>

</html>
