<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Chat based on SpringBoot">
  <meta name="author" content="Benno Bielmeier">
  <title>New Person</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <link href="form-validation.css" rel="stylesheet">
</head>

<body>
  <div class="container">
    <main>
      <div class="py-5 text-center">
        <h2>Create new person</h2>
        <p class="lead"></p>
      </div>

      <div class="row g-3 justify-content-center">
        <div class="col-md-7 col-lg-8">
          <form class="needs-validation" novalidate>
            <div class="row g-3">
              <div class="col-sm-6">
                <label for="firstName" class="form-label">First name <span class="text-muted">(Optional)</span></label>
                <input type="text" class="form-control" id="firstName" placeholder="" value="">
                <div class="invalid-feedback">
                  Please enter your first name in order to be found by friends.
                </div>
              </div>

              <div class="col-sm-6">
                <label for="lastName" class="form-label">Last name <span class="text-muted">(Optional)</span></label>
                <input type="text" class="form-control" id="lastName" placeholder="" value="">
                <div class="invalid-feedback">
                  Please enter your last name in order to be found by friends.
                </div>
              </div>

              <div class="col-12">
                <label for="username" class="form-label">Username</label>
                <div class="input-group">
                  <span class="input-group-text">@</span>
                  <input type="text" class="form-control" id="username" placeholder="Username" required>
                  <div class="invalid-feedback">
                    Your username is required.
                  </div>
                </div>
              </div>
              
              <div class="col-12">
                <label for="password" class="form-label">Password</label>
                <div class="input-group">
                  <input type="password" class="form-control" id="password" placeholder="Password" aria-describedby="passwordHelpBlock" required>
                  <div class="invalid-feedback">
                    A strong password is required.
                  </div>
                  <div id="passwordHelpBlock" class="form-text">
                    Make sure it's at least 15 characters OR at least 8 characters including a number and a lowercase letter. 
                  </div>
                </div>
              </div>

              <div class="col-12">
                <label for="email" class="form-label">Email <span class="text-muted">(Optional)</span></label>
                <input type="email" class="form-control" id="email" placeholder="you@example.com">
                <div class="invalid-feedback">
                  Please enter a valid email address notifications.
                </div>
              </div>

              <div class="col-md-5">
                <label for="country" class="form-label">Country <span class="text-muted">(Optional)</span></label>
                <select class="form-select" id="country">
                  <option value="">Choose...</option>
                  <option value="US">United States</option>
                  <option value="DE">Germany</option>
                </select>
                <div class="invalid-feedback">
                  Please select a valid country.
                </div>
              </div>
            </div>

            <hr class="my-4">

            <button class="w-100 btn btn-primary btn-lg" type="submit">Create person</button>
          </form>
        </div>
      </div>
    </main>

    <footer class="my-5 pt-5 text-muted text-center text-small">
      <p class="mb-1">© 2020 Benno Bielmeier</p>
      <ul class="list-inline">
        <li class="list-inline-item"><a href="#">Privacy</a></li>
        <li class="list-inline-item"><a href="#">Terms</a></li>
        <li class="list-inline-item"><a href="#">Support</a></li>
      </ul>
    </footer>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous">
  </script>
  <script src="form-validation.js"></script>
</body>

</html>
