<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <title>New Person</title>
  <link href="form-validation.css" rel="stylesheet">
</head>

<head th:replace="common/base :: head" />

<body>
  <div class="container">
    <main>
      <div class="py-5 text-center">
        <h2>Create new person</h2>
        <p class="lead"></p>
      </div>

      <div class="row g-3 justify-content-center">
        <div class="col-md-7 col-lg-8">
          <form class="needs-validation" novalidate>
            <div class="row g-3">
              <div class="col-sm-6">
                <label for="firstName" class="form-label">First name <span class="text-muted">(Optional)</span></label>
                <input type="text" class="form-control" id="firstName" placeholder="" value="">
                <div class="invalid-feedback">
                  Please enter your first name in order to be found by friends.
                </div>
              </div>

              <div class="col-sm-6">
                <label for="lastName" class="form-label">Last name <span class="text-muted">(Optional)</span></label>
                <input type="text" class="form-control" id="lastName" placeholder="" value="">
                <div class="invalid-feedback">
                  Please enter your last name in order to be found by friends.
                </div>
              </div>

              <div class="col-12">
                <label for="username" class="form-label">Username</label>
                <div class="input-group">
                  <span class="input-group-text">@</span>
                  <input type="text" class="form-control" id="username" placeholder="Username" required>
                  <div class="invalid-feedback">
                    Your username is required.
                  </div>
                </div>
              </div>

              <div class="col-12">
                <label for="password" class="form-label">Password</label>
                <div class="input-group">
                  <input type="password" class="form-control" id="password" placeholder="Password"
                    aria-describedby="passwordHelpBlock" required>
                  <div class="invalid-feedback">
                    A strong password is required.
                  </div>
                  <div id="passwordHelpBlock" class="form-text">
                    Make sure it's at least 15 characters OR at least 8 characters including a number and a lowercase
                    letter.
                  </div>
                </div>
              </div>

              <div class="col-12">
                <label for="email" class="form-label">Email <span class="text-muted">(Optional)</span></label>
                <input type="email" class="form-control" id="email" placeholder="you@example.com">
                <div class="invalid-feedback">
                  Please enter a valid email address notifications.
                </div>
              </div>

              <div class="col-md-5">
                <label for="country" class="form-label">Country <span class="text-muted">(Optional)</span></label>
                <select class="form-select" id="country">
                  <option value="">Choose...</option>
                  <option value="US">United States</option>
                  <option value="DE">Germany</option>
                </select>
                <div class="invalid-feedback">
                  Please select a valid country.
                </div>
              </div>
            </div>

            <hr class="my-4">

            <button class="w-100 btn btn-primary btn-lg" type="submit">Create person</button>
          </form>
        </div>
      </div>
    </main>

    <div th:replace="common/center :: footer" />
  </div>

  <script src="form-validation.js"></script>
</body>

</html>