<!DOCTYPE HTML>
<html lang="en" layout:decorate="~{layout/slim}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8"/>
  <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
  <title>Register</title>
  <link crossorigin="anonymous"
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" rel="stylesheet">
</head>

<body>

<form action="#" class="container" layout:fragment="content" method="post" th:action="@{/register}"
      th:object="${person}">

  <div class="">
    <label class="form-label" th:for="username" th:text="#{user.username}">Username</label>
    <input class="form-control" th:errorclass="is-invalid" th:field="*{username}" type="text"/>
    <span class="invalid-feedback" th:errors="*{username}"
          th:if="${#fields.hasErrors('username')}">Username Error</span>
  </div>
  <div>
    <label class="form-label" th:for="password" th:text="#{user.password}">Password</label>
    <input class="form-control" th:errorclass="is-invalid" th:field="*{password}" type="password"/>
    <span class="invalid-feedback" th:errors="*{password}"
          th:if="${#fields.hasErrors('password')}">Password Error</span>
  </div>
  <div>
    <label class="form-label" th:for="firstName" th:text="#{user.firstName}">First Name</label>
    <input class="form-control" th:errorclass="is-invalid" th:field="*{firstName}" type="text"/>
    <span class="invalid-feedback" th:errors="*{firstName}"
          th:if="${#fields.hasErrors('firstName')}">First Name Error</span>
  </div>
  <div>
    <label class="form-label" th:for="lastName" th:text="#{user.lastName}">Last Name</label>
    <input class="form-control" th:errorclass="is-invalid" th:field="*{lastName}" type="text"/>
    <span class="invalid-feedback" th:errors="*{lastName}"
          th:if="${#fields.hasErrors('lastName')}">Last Name Error</span>
  </div>
  <div>
    <label class="form-label" th:for="email" th:text="#{user.email}">Email</label>
    <input class="form-control" th:errorclass="is-invalid" th:field="*{email}" type="email"/>
    <span class="invalid-feedback" th:errors="*{email}" th:if="${#fields.hasErrors('email')}">Email Error</span>
  </div>

  <input th:value="#{submit}" type="submit" value="Submit"/>

</form>

<script crossorigin="anonymous"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js">
</script>

</body>

</html>
